@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Ma personne !!!</h3>

    <address>
        Mathéo POINSOT
    </address>

    <address>
        <strong><a target="_blank" href="https://github.com/mathippo18">GitHub</a><br /></strong>   
    </address>
</main>