@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Bienvenue</h1>
        <p class="lead">Ce projet est concu via le framework ASP.NET</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">GitHub</h2>
            <p>
                Mon GitHub est disponible via le bouton ci-dessous,
            </p>
            <p><a class="btn btn-outline-dark" href="https://github.com/mathippo18">GitHub &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Le Second Projet</h2>
            <p>Le second projet est disponible via ce bouton.</p>
            <p><a class="btn btn-outline-dark" href="https://github.com/mathippo18/Select_Jeu">Second projet &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">GitHub de ce projet</h2>
            <p>Ce projet est aussi disponible sur GitHub afin d'inspecter le code</p>
            <p><a class="btn btn-outline-dark" href="https://github.com/mathippo18/Inventaire">Projet ASP.NET &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Doc de ce projet</h2>
            <p>La documentation concernant ce projet est disponible ci-dessous</p>
            <p><a class="btn btn-outline-dark" href="https://github.com/mathippo18/Inventaire">Documentation &raquo;</a></p>
        </section>
    </div>
</main>